/2024/PSCom/Alex/PSCom_11-03/nbproject/private/
/2024/PSCom/Alex/PSCom_11-03/build/
/2024/PSCom/Alex/JavaApplication3/nbproject/private/
/2024/PSCom/Alex/PSCom_1103_02/nbproject/private/
/2024/PSCom/Alex/PSCom_1103_02/build/
/2024/PSCom/Wanfranklin/Aula03/obj/Debug/net8.0/Aula03.AssemblyInfoInputs.cache
/2024/PSCom/Wanfranklin/Aula03/obj/Debug/net8.0/Aula03.AssemblyInfo.cs
UnP.sln
.vscode
/2024/PSCom/Alex/Aula26-03/nbproject/private/
/2024/PSCom/Alex/Aula26-03/build/
/2024/PSCom/Alex/aula2603_2/nbproject/private/
2024\PSCom\Wanfranklin\Aula03\obj\Debug\net8.0\Aula03.AssemblyInfo.cs
2024\PSCom\Wanfranklin\Aula03\obj\Debug\net8.0\Aula03.AssemblyInfoInputs.cache
/2024/PSCom/Alex/JavaApplication7/nbproject/private/
/2024/PSCom/Alex/02-04-vetores/nbproject/private/
/2024/PSCom/Alex/02-04-vetores/build/
/2024/PSCom/Alex/16-04/nbproject/private/
/2024/PSCom/Alex/JavaApplication10/nbproject/private/
/2024/PSCom/Alex/16-04-2/nbproject/private/
/2024/PSCom/Alex/16-04-2/build/
